.place{
  color: white;
  align-self: center;
  display: grid;
    /*display: flex;
  flex-direction: column;*/
  grid-template-columns: repeat(2, 484px);
  grid-template-rows: repeat(3, 250px);
  grid-template-areas:
  "place__title place__website"
  "place__image paragraph"
  "place__image secparagraph";
}
@media screen and (max-width:1000px) {
  .place{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}