@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
.intro__list{
  max-width: 690px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 33px;
  list-style-type: none;
  padding: 0;
}