.cover__subtitle{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  position: relative;
  opacity: 1;
  color: white;
  max-width: 360px;
  margin-top: 32px;
}
.cover__subtitle:hover{
  transition-property: none;
}
@media screen and (max-width:320px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
@media screen and (max-width:356px) {
  .cover__subtitle{
    font-size: 16px;
    line-height: 18px;
  }
}