.photo-grid__item{
  max-width: 284px;
  max-height: 213px;
}
@media screen and (max-width:284px) {
  .photo-grid__item{
    width: 100%;
  }
}
@media screen and (max-width:300px) {
  .photo-grid__item{
    width: 100%;
  }
}
@media screen and (max-width:352px) {
  .photo-grid__item{
    width: 100%;
  }
}
@media screen and (max-width:288px) {
  .photo-grid__item{
    width: 100%;
  }
}