.header{
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
  display: grid;
  grid-template-columns: 91% repeat(3, 3%);
  grid-template-rows: 1;
  grid-template-areas: 
  "logo link link";
}
@media screen and (max-width:935px) {
  .header{
    grid-template-columns: 87% repeat(3, 3%);
  }
}
@media screen and (max-width:401px) {
  .header{
    grid-template-columns: 86% repeat(3, 3%);
  }
}
@media screen and (max-width:351px) {
  .header{
    grid-template-columns: 85% repeat(3, 3%);
  }
}