/*@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}*/
.place__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 80px;
  margin-bottom: 48px;
  inline-size: fit-content;
  grid-area: place__title;
}
