.footer__link{
  color: white;
  text-decoration-line: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  transition-property: opacity;
  opacity: .75;
  transition-duration: 0.25s;
}