.lead__title{
  margin: 0;
  text-align: center;
  color: white;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}
@media screen and (max-width:675px) {
  .lead__title{
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width:421px) {
  .lead__title{
    font-size: 50px;
    line-height: 54px;
  }
}
@media screen and (max-width:352px) {
  .lead__title{
    font-size: 44px;
    line-height: 48px;
  }
}
@media screen and (max-width:320px) {
  .lead__title{
   font-size: 40px;
   line-height: 44px;
  }
}