@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}
.lead__title{
  margin: 0;
  text-align: center;
  color: white;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}

@media screen and (max-width:320px) {
  .lead__title{
   font-size: 40px;
  }
}