@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
.lead__subtitle{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
}

@media screen and (max-width:320px) {
  .lead__subtitle{
   font-size: 20px;
  }
}