.cover__background{
  background-image: url(../../../images/sprint-3-images/cover-trains.jpg);
  width: 100%;
  height: 740px;
  background-size: cover;
  z-index: -1;
}

/*.cover__background:hover{
  transition-property: opacity;
  opacity: .75;
  transition-duration: 0.25s;
}*/

@media screen and (max-width:1280px) {
  .cover__background{
    width: 100%;
    height: 740px;
  }
}
@media screen and (max-width:1024px) {
  .cover__background{
    width: 100%;
    height: 640px;
  }
}
@media screen and (max-width:768px) {
  .cover__background{
    width: 100%;
    height: 480px;
  }
}
@media screen and (max-width:320px) {
  .cover__background{
    width: 100%;
    height: 200px;
  }
}