/*.cover__background{
  background-image: url(../../../images/sprint-3-images/cover-trains.jpg);
  max-width: 1184px;
  max-height: 740px;
  z-index: 1;
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;  
  display: flex;
  flex-direction: column;
}*/
.cover__background {
  background-image: url("../../../images/sprint-3-images/cover-trains.jpg");
  background-color: #000000;
  max-width: 1184px;
  /*height: 100%;*/
  position: relative;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cover__background::before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
}
.cover__background:hover::before {
  opacity: .8;
}

.cover__background:hover{
  transition-property: opacity;
  opacity: .8;
}
@media screen and (min-width:1280px) {
  .cover__background{
    height: 740px;
  }
}
@media screen and (max-width:1280px) {
  .cover__background{
    max-height: 740px;
    min-height: 641px;
  }
}
@media screen and (max-width:1024px) {
  .cover__background{
    max-height: 640px;
    min-height: 481px;
  }
}
@media screen and (max-width:768px) {
  .cover__background{
    max-height: 480px;
    min-height: 300px;
  }
}
@media screen and (max-width:500px) {
  .cover__background{
    max-height: 480px;
    min-height: 201px;
  }
}
@media screen and (max-width:320px) {
  .cover__background{
    max-height: 200px;
  }
}