.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  position: relative;
  color: white;
  max-width: 560px;
}
.cover__title:hover{
  transition-property: none;
}
@media screen and (max-width:425px) {
  .cover__title{
    font-size: 52px;
    line-height: 55px;
  }
}
@media screen and (max-width:356px) {
  .cover__title{
    font-size: 42px;
    line-height: 45px;
  }
}
@media screen and (max-width:320px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
  }
}