@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
.place__paragraph{
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  width: 484px;
}
.place__paragraph:nth-child(1){
  grid-area: paragraph;
}
.place__paragraph:nth-child(2){
  grid-area: secparagraph;
}