.place__paragraph{
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  max-width: 484px;
}
.place__paragraph:nth-child(1){
  grid-area: paragraph;
}
.place__paragraph:nth-child(2){
  grid-area: secparagraph;
}
@media screen and (max-width:1024px) {
  .place__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
  }
}