@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
.place__website_link{
  width: 456px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__website_link:hover {
  text-decoration: underline;
  transition-property: opacity;
  opacity: .8;
  transition-duration: 0.15s;
}